:root {
    /* Color styles */
    --notify: #8EDAFC;
    --primary-icons: #B1B1B1;
    --sec-icons: #6B7376;
    --sec-color: #FFFFFF;
    --top-color: #009688;

}


.background {
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: rgb(220, 219, 209);
    background: linear-gradient(187deg, rgba(220, 219, 209, 1) 22%, rgba(210, 219, 219, 1) 57%);
}

.top-background {
    background-color: var(--top-color);
    width: 100%;
    height: 120px;
    z-index: -1;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

main {
    background-color: lightgrey;
    width: 80%;
    position: absolute;
    top: 5%;
    left: 12%;
    height: 80vh;

}

.top-content {
    height: 50px;
    width: 100%;
    background-color: lightgray;

}

.top-img,
.icons {
    width: 40px;
    height: 40px;

}

.bell {
    width: 100%;
    height: 100%;

}

p {
    font-size: 10px;
    color: grey;
}

.icons {
    color: grey;

}

.notify {
    background-color: var(--notify);
    height: 70px;
    width: 100%;
}

.h-note {
    font-size: 12px;
}

.p-note {
    font-size: 10px;
}

.top-left {
    height: 175px;

}

.left-contacts {
    height: calc(100% - 175px);
    overflow-y: auto;
    width: 100%;
    background-color: var(--sec-color);
    overflow-x: hidden;
    
}


.border-top {
    border-bottom: grey;
}



.rubric :hover {
    background-color: var(--sec-color);
}

.active {
    background-color: lightgrey;
}

.mess h6 {
    font-size: 14px;
    font-size: small;
    padding: 5px;
}

.sent {
    background-color: lightgreen;
    align-self: flex-end;
}

.received {
    background-color: white;

}

.nothing{
    background-color: var(--notify);
    align-self: center;
    
}

.main-content {
    width: 100%;
    height: calc(100% - 94px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

.mess {
    border-radius: 15px;
    margin: 5px;
    width: 40%;
    padding:5px

}
.btnCancel{
    opacity: 0;
    transition: all 0.25s;
}

.mess:hover .btnCancel{
    opacity: 1;
}

.height {
    max-height: 100%;
    overflow: hidden;
    background-color: lightgray;
}

.cancel-window{
    position: absolute;
    top: 50px;
    right: 0;
}

